<h1><%= t ".title" %></h1>
<%= link_to "New products", new_store_product_path, class: "btn btn-primary" if authenticated? %>
<div class="products">
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Inventory count</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="row"><%= product.id %></th>
          <td><%= product.name %></td>
          <td><%= product.inventory_count %></td>
          <td>
            <%= link_to "Show", store_product_path(product), class: "btn btn-primary" %>
            <%= link_to "Edit", edit_store_product_path(product), class: "btn btn-secondary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>